<div class='text-center'>
  <h1>About</h1>

  <p>I created this application to help myself stay organized and manage my
    tasks more effectively.</p>
  <br />
  <p>As somebody that enjoys spending their free time learning about various
    topics, I wanted to create a tool that would help me keep track of my
    progress and stay motivated, while also being free of any tracking bias.</p>

  <p>If this application is useful to me, then there must be other people out
    there who could benefit from it as well.</p>

  <p>I plan to expand this application by adding more features and improving the
    overall feel of it through additional work once I am done with my studies in
    this course.</p>

  <p>Thank you for visiting my study tracker app.</p>

  <p>Best,</p>
  <p>Mack G.R</p>
</div>