{{! <div class='text-center'> }}
<h1>{{title}}</h1>
<p>Welcome to my {{title}}</p>
<p>The purpose of this application is to help students track their independent
  study progress and manage their learning resources via a database stored in
  MongoDB.</p>
<p>Use the navigation bar above to access different sections of the application.</p>
<p>But first:
  <a href='/login'>Log in</a>
  or
  <a href='/register'>register</a>
  to gain access.
</p>
{{! </div> }}